.first-image-cover {
    background: url(../../../assets/payment.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.login-container {
    margin-left: 10%;
    width: 40%;
    padding-top: 2%;

}

.example-card {
    max-width: 500px;
}

mat-form-field {
    width: 100%;
}

mat-card-title {
    margin-bottom: 1rem;
    margin-left: 40%;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
    margin-left: 40%;
    margin-right: 0;
}

.mat-button.mat-blue,
.mat-icon-button.mat-blue,
.mat-stroked-button.mat-blue {
    /* background-color: rgb(183, 183, 242); */
    background-color: rgb(35, 92, 206);
    ;
    color: white;
}

mat-form-field {
    margin-bottom: 0.5rem;
}

.form-link {
    margin-left: 20%;
}