<mat-card class="card">
    <mat-card-title class="shopping-cart-title"> Shopping cart
        <mat-icon>shopping_cart</mat-icon> </mat-card-title>
    <mat-card-content>
        <div *ngIf="showItems" class="shopping-items">
            <div class="row shopping-items-position">
                <div class="col"> SERVICE NAME</div>
                <div class="col"> PRICE</div>
                <div class="col"> </div>
                 </div>
                 <hr>
            <div class="row " *ngFor="let item of shoppingCart.services"  >
                <div class="col">
                   <p> {{item.name}}</p>
                </div>
                <div class="col">
                    {{item.price}}
                </div>
                <div class="col">
                    <button type="button" mat-raised-button (click)="deleteItem(item.id)"> x
                    </button>
                </div>
            </div>
            <hr>
          <div class="row ">
            <div class="col-md-4">
                <h3 class="total-style">TOTAL: {{shoppingCart.amount}}  <mat-icon class="icon-display">euro_icon</mat-icon></h3> 
            </div>
            <div class="col">
                 <button  mat-raised-button type="button" class="order-btn" (click)="createOrder()"> Buy service</button>
            </div>
           
          </div>
        </div>
        <div *ngIf="!showItems" >
            <p class="shopping-note">You don't have items in your cart</p>
        </div>
    </mat-card-content>

</mat-card>

<app-transactions [transactions]=" transactionList"></app-transactions>
